
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --color-chudao : #FAC564;
  --color-text : #6C6B6C;
  --color-xam:#121618;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
    user-select: none;
}
body{
    /* font-family: 'Roboto', sans-serif; */
    height: 100vh;
    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;

}

*{
    box-sizing: inherit;
    letter-spacing: 0.5px;
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}
li{
    list-style-type:none ;
}
/* .container{
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
 */

